
html, body {
      font-family: 'Poppins', sans-serif, auto !important;
      background: #0f0f0f !important;
      background-size: cover;
      box-sizing: border-box;
}

* {
      box-sizing: border-box;
      background-size: cover;
      align-items: center;
      margin: 0%;
      padding: 0%;
      font-size: auto;
}



.video-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      opacity: 0.4;
}

video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: absolute;
      opacity: 0.4;
}

.video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      opacity: 0.4;
}

.header {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}


.header h1 {
	color: white;
	font-size: 55px;
	animation-name: intro;
	animation-duration: 1s;

}

.smth {
	position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}

.header p {
	color: white;
	font-size: auto;
	animation-name: intro;
	animation-duration: 1s;
}

.header li {
	color: white;
	font-size: auto;
	animation-name: intro;
	animation-duration: 1s;
}

.text {
	color: white;
	transition: 1s;
}

.text:hover {
	font-size: 20px;
}

.border {
	color: white;
	border: 1px solid #fff;
	border-radius: 1.5em;
	padding: 5px 25px;
	text-decoration: none;
	transition: 1s;
	animation-name: intro-a;
	animation-duration: 1s;
}

.border:hover {
	background: #fff;
	color: #000;
}

.header button {
	color: white;
	border: 1px solid #fff;
	border-radius: 1.5em;
	padding: 5px 25px;
	text-decoration: none;
	transition: 1s;
	animation-name: intro-a;
	animation-duration: 1s;
	background: none;
	font-family: 'Poppins', sans-serif, auto !important;
}

.header button:hover {
	background: #fff;
	color: #000;
	cursor: pointer;
}

.header h2 {
	padding-bottom: 25px;
}

.header img {
	width: 400px;
	transition: 1s;
}

.loading img {
	width: 100px
}

.man img {
	float: right;
}

.header img:hover {
	width: 420px;
}


.heade img{
	width: 1000px;
}


.header video {
	height: 400px;
	width: auto;
	opacity: 1;
	position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}

.logo {
	width: 100px;
	position: absolute;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader p {
	color: #fff;
	font-size: 200px;
}
@keyframes fadeOut {
    100% {
    	opacity: 0;
        visibility: hidden;
    }
}

@keyframes intro {
	0% {
		opacity: 0;
		padding-bottom: 80px
	}

	100% {
		opacity: 1;
		padding-bottom: auto;
	}
}

@keyframes intro-a {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}